.component4-container {
  display: flex;
  position: relative;
}
.component4-lottie-node {
  width: 145px;
  height: 167px;
  transition: 0.3s;
}
.component4-lottie-node:focus {
  scroll-behavior: smooth;
}


@media(max-width: 479px) {
  .component4-lottie-node {
    align-self: center;
  }
}

.feature-card-icon {
  fill: #040404;
}
.feature-card-container {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card-text {
  font-weight: 600;
  line-height: 28px;
}
@media(max-width: 767px) {
  .feature-card-feature-card {
    flex-direction: row;
  }
  .feature-card-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card-container {
    flex-direction: column;
  }
}

.component3-container {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-oneandhalfunits);
  position: relative;
  grid-template-columns: 1fr 1fr;
}
.component3-icon {
  width: 54px;
  height: 30px;
}
.component3-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.component3-text {
  font-weight: 600;
  line-height: 28px;
}
.component3-icon2 {
  width: 53px;
  height: 30px;
}
.component3-container2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.component3-text2 {
  font-weight: 600;
  line-height: 28px;
}
.component3-icon4 {
  width: 53px;
  height: 30px;
}
.component3-container3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.component3-text4 {
  font-weight: 600;
  line-height: 28px;
}

@media(max-width: 767px) {
  .component3-container {
    grid-template-columns: 1fr;
  }
  .component3-feature-card {
    flex-direction: row;
  }
  .component3-container1 {
    flex-direction: column;
  }
  .component3-feature-card1 {
    flex-direction: row;
  }
  .component3-container2 {
    flex-direction: column;
  }
  .component3-feature-card2 {
    flex-direction: row;
  }
  .component3-container3 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .component3-container1 {
    flex-direction: column;
  }
  .component3-container2 {
    flex-direction: column;
  }
  .component3-container3 {
    flex-direction: column;
  }
  .component3-root-class-name {
    margin-top: 160px;
  }
}

.component1-container {
  display: flex;
  position: relative;
}
.component1-lottie-node {
  width: 145px;
  height: 127px;
  transition: 0.3s;
  padding-top: 40px;
}
.component1-lottie-node:focus {
  scroll-behavior: smooth;
}




.banner-banner {
  position: relative;
  margin-top: 39px;
  padding-top: 40px;
  margin-bottom: 99px;
  background-color: #000000;
}
.banner-banner-heading {
  text-align: center;
  padding-bottom: 10px;
}
.banner-text {
  text-align: center;
  line-height: 2;
}

@media(max-width: 991px) {
  .banner-banner {
    height: 530px;
  }
}
@media(max-width: 767px) {
  .banner-banner {
    position: relative;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .banner-text {
    right: 32px;
    width: 100%;
    bottom: 96px;
    position: absolute;
  }
}
@media(max-width: 479px) {
  .banner-banner {
    width: 447px;
    height: 744px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .banner-banner-heading {
    height: 129px;
  }
  .banner-text {
    left: -7px;
    bottom: 19px;
  }
  .banner-root-class-name {
    margin-top: 100px;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #fdfbf8;
}
.home-header {
  width: 100%;
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-navbar-interactive {
  color: #f9f9f9;
  display: flex;
  background-color: #fdfbf8;
}
.home-navlink {
  display: contents;
}
.home-image {
  width: 135px;
  height: 67px;
  object-fit: cover;
  text-decoration: none;
}
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.home-links {
  flex: 1;
  display: flex;
  align-items: center;
  border-color: #fdfbf8;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  justify-content: center;
}
.home-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-login {
  color: #000000;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Jost";
  font-weight: 700;
  margin-right: 32px;
}
.home-login:hover {
  color: #717171;
}
.home-register {
  color: rgb(255, 255, 255);
  z-index: 100;
  font-size: 24px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Jost";
  font-weight: 700;
  line-height: 150%;
  text-decoration: none;
  background-color: rgb(0, 77, 220);
}
.home-register:hover {
  background-color: var(--dl-color-primary-300);
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.home-nav {
  height: 147px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.home-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-nav42 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: center;
  justify-content: center;
}
.home-hero1 {
  height: 388px;
  padding-top: 71px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: #fdfbf8;
}
.home-container01 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  margin-top: 18px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-link {
  display: contents;
}
.home-hero-heading {
  color: #000000;
  width: 1105px;
  height: 68px;
  font-size: 85px;
  max-width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Jost";
  font-weight: 800;
  line-height: 150%;
  letter-spacing: 3px;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 3s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
.home-link1 {
  display: contents;
}
.home-component {
  text-decoration: none;
}
.home-lottie-node {
  width: 100%;
  height: 458px;
  transform: rotate(180deg);
  align-self: center;
  margin-bottom: -90px;
  transform-style: rotate(180deg);
}
.home-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-features-container {
  align-items: center;
  justify-content: center;
  background-color: #000000;
}
.home-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 1368px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 214px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: flex-start;
  background-color: #000000;
}
.home-container02 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text03 {
  font-size: 30px;
}
.home-text04 {
  font-size: 30px;
  font-family: "Jost";
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}
.home-text05 {
  font-size: 30px;
}
.home-features-heading {
  font-size: 50px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-link2 {
  display: contents;
}
.home-component2 {
  text-decoration: none;
}
.home-pricing {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-pricing1 {
  height: 1159px;
  background-color: #fdfbf8;
}
.home-container03 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-pricing-heading {
  color: var(--dl-color-gray-black);
  font-size: 35px;
  font-family: "Jost";
  font-weight: 600;
  line-height: 150%;
}
.home-pricing-sub-heading {
  text-align: center;
}
.home-container04 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-radius: 20px;
  justify-content: center;
}
.home-pricing-card {
  height: 514px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
}
.home-container05 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text10 {
  text-transform: uppercase;
}
.home-free-plan-description {
  font-size: 23px;
}
.home-container06 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-container07 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-container08 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-container09 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-container10 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-navlink1 {
  color: rgb(255, 255, 255);
  width: 100%;
  align-self: center;
  transition: 0.3s;
  font-family: "Jost";
  border-color: #000000;
  text-decoration: none;
  background-color: rgb(0, 77, 220);
}
.home-navlink1:hover {
  color: #ffffff;
  background-color: #4483fb;
}
.home-pricing-card1 {
  height: 501px;
  z-index: .5;
  box-shadow: 5px 5px 10px 0px #909090;
  border-color: #ffffff;
  border-width: 1px;
  border-radius: 20px;
}
.home-container11 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  z-index: 50;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text13 {
  text-transform: uppercase;
}
.home-basic-plan-description {
  color: rgb(0, 0, 0);
  font-size: 23px;
}
.home-container12 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-container13 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-container14 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-container15 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-container16 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-container17 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-navlink2 {
  width: 100%;
  align-self: center;
  transition: 0.3s;
  font-family: "Jost";
  text-decoration: none;
  background-color: rgb(0, 77, 220);
}
.home-navlink2:hover {
  background-color: #357bff;
}
.home-pricing-card2 {
  height: 506px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-radius: 20px;
}
.home-container18 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text15 {
  text-transform: uppercase;
}
.home-pro-plan-description {
  font-size: 23px;
}
.home-container19 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-container20 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-container21 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-container22 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-container23 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-navlink3 {
  width: 100%;
  align-self: center;
  transition: 0.3s;
  font-family: "Jost";
  text-decoration: none;
  background-color: rgb(0, 77, 220);
}
.home-navlink3:hover {
  background-color: #6098ff;
}
.home-banner {
  width: 100%;
  height: 994px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.home-container24 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container25 {
  flex: 1;
  width: var(--dl-size-size-xxlarge);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  justify-content: center;
}
.home-image1 {
  width: 359px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-image2 {
  width: 386px;
  height: 235px;
  object-fit: cover;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius8);
}
.home-image3 {
  width: 430px;
  height: 231px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-steps {
  width: 100%;
  height: 635px;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: 149px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: #fdfbf8;
}
.home-text21 {
  color: var(--dl-color-gray-black);
}
.home-text22 {
  color: var(--dl-color-gray-700);
  font-size: 1.15rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-container26 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-step {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container27 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.home-line {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container28 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.home-icon04 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.home-line1 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container29 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.home-text23 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text24 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.home-step1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container30 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.home-line2 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container31 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.home-icon06 {
  width: 24px;
  height: 24px;
}
.home-line3 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container32 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.home-text27 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text28 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.home-step2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container33 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.home-line4 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container34 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.home-icon08 {
  width: 24px;
  height: 24px;
}
.home-line5 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container35 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.home-text31 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text32 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.home-step3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container36 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.home-line6 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container37 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.home-icon10 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.home-line7 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container38 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.home-text35 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text36 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.home-faq {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-faq-container {
  background-color: #000000;
}
.home-faq1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: 563px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
  background-color: #000000;
}
.home-container39 {
  height: 261px;
  display: flex;
  max-width: 35%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text42 {
  width: 289px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text43 {
  text-align: left;
}
.home-container40 {
  width: 1128px;
  height: 391px;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  padding-left: 5px;
  padding-right: var(--dl-space-space-sixunits);
  justify-content: flex-end;
}
.home-form {
  width: 510px;
  height: 357px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-textinput {
  color: #000000;
  width: 100%;
  font-size: 17px;
  align-self: flex-end;
  font-family: "Jost";
  margin-bottom: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  background-color: #ffffff;
}
.home-textinput1 {
  color: #000000;
  width: 100%;
  align-self: flex-end;
  font-family: "Jost";
  margin-bottom: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  background-color: #ffffff;
}
.home-textinput2 {
  color: #000000;
  width: 100%;
  align-self: flex-end;
  margin-bottom: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  background-color: #ffffff;
}
.home-button {
  color: #000000;
  font-size: 20px;
  align-self: flex-end;
  font-style: normal;
  font-family: "Jost";
  font-weight: 500;
  padding-top: var(--dl-space-space-halfunit);
  margin-right: 10px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  animation-name: fadeIn;
  padding-bottom: var(--dl-space-space-halfunit);
  animation-delay: 0s;
  background-color: #ffffff;
  animation-duration: 8s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-footer1 {
  height: 225px;
  background-color: #ffffff;
}
.home-container41 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-logo {
  color: #ffffff;
  font-size: 2em;
  font-family: "Grandstander";
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}
.home-nav1 {
  flex: 0 0 auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.home-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-container42 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-text51 {
  color: var(--dl-color-gray-black);
}
.home-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.home-icon14 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.home-icon16 {
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .home-hero1 {
    flex-direction: column;
  }
  .home-container01 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .home-hero-heading {
    text-align: center;
  }
  .home-features-heading {
    text-align: center;
  }
  .home-pricing1 {
    height: 1938px;
  }
  .home-pricing-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-container04 {
    height: 1897px;
    align-items: center;
    flex-direction: column;
  }
  .home-pricing-card {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    max-width: 450px;
  }
  .home-pricing-card1 {
    width: 100%;
    max-width: 450px;
  }
  .home-pricing-card2 {
    width: 100%;
    max-width: 450px;
  }
  .home-banner {
    width: 929px;
    height: 1064px;
  }
  .home-image1 {
    width: 275px;
    height: 184px;
  }
  .home-image2 {
    width: 263px;
    height: 186px;
  }
  .home-image3 {
    width: 245px;
    height: 174px;
    padding-left: 0px;
  }
  .home-text21 {
    text-align: center;
  }
  .home-text22 {
    text-align: center;
  }
  .home-text43 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-container40 {
    width: 500px;
    padding-left: 0px;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .home-nav42 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-hero-heading {
    color: rgb(0, 0, 0);
    width: 425px;
    font-size: 80px;
    font-style: normal;
    font-family: Jost;
    font-weight: 800;
    line-height: 150%;
    letter-spacing: 3px;
    text-decoration: none;
  }
  .home-text01 {
    font-family: Jost;
  }
  .home-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-pricing1 {
    height: 1442px;
    margin-top: 149px;
    margin-bottom: 324px;
  }
  .home-pricing-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-container04 {
    align-items: center;
    flex-direction: column;
  }
  .home-pricing-card {
    width: 100%;
    height: 188px;
    max-width: 450px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-pricing-card1 {
    width: 449px;
    height: 491px;
    max-width: 450px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-bottom: 0px;
  }
  .home-pricing-card2 {
    width: 100%;
    max-width: 450px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-steps {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container26 {
    align-items: flex-start;
    padding-left: var(--dl-space-space-fiveunits);
    flex-direction: column;
  }
  .home-step {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .home-container27 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .home-line1 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .home-container29 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-text23 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text24 {
    text-align: left;
  }
  .home-step1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .home-container30 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .home-line2 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .home-line3 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .home-container32 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-text27 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text28 {
    text-align: left;
  }
  .home-step2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .home-container33 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .home-line4 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .home-line5 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .home-container35 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-text31 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text32 {
    text-align: left;
  }
  .home-step3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .home-container36 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .home-line6 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .home-line7 {
    border-color: transparent;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .home-container38 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-text35 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text36 {
    text-align: left;
  }
  .home-faq1 {
    flex-direction: column;
  }
  .home-container39 {
    max-width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .home-text43 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-container42 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-text51 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
    z-index: 100;
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-icon {
    fill: #000000;
  }
  .home-mobile-menu1 {
    padding: 16px;
    background-color: #000000;
  }
  .home-nav {
    height: auto;
    align-items: center;
    justify-content: space-between;
  }
  .home-login1 {
    font-family: Jost;
  }
  .home-register1 {
    font-family: Jost;
    background-color: rgb(10, 50, 209);
  }
  .home-hero {
    height: 358px;
    flex-wrap: wrap;
    margin-top: 0px;
    align-items: center;
  }
  .home-hero1 {
    height: 590px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    margin-bottom: 190px;
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-hero-heading {
    height: 554px;
  }
  .home-lottie-node {
    width: 800px;
    height: 300px;
  }
  .home-features1 {
    height: 1278px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container02 {
    height: 133px;
  }
  .home-features-heading {
    color: rgb(255, 255, 255);
    height: 191px;
  }
  .home-pricing {
    height: 2286px;
  }
  .home-pricing1 {
    height: 2007px;
  }
  .home-container04 {
    height: 1649px;
  }
  .home-pricing-card {
    width: 363px;
    height: 495px;
  }
  .home-pricing-card1 {
    width: 383px;
    display: flex;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
  }
  .home-pricing-card2 {
    margin-bottom: 0px;
  }
  .home-banner {
    height: 1959px;
  }
  .home-container25 {
    gap: var(--dl-space-space-fourunits);
    flex: 1;
    width: auto;
    height: 1068px;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-image1 {
    width: 444px;
    height: 256px;
  }
  .home-image2 {
    width: 431px;
    height: 242px;
  }
  .home-image3 {
    width: 426px;
    height: 294px;
  }
  .home-steps {
    height: 962px;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container26 {
    padding-left: 0px;
  }
  .home-container29 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text23 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .home-container32 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text27 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .home-text28 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
  }
  .home-container35 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text31 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .home-container38 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text35 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .home-faq1 {
    height: 702px;
  }
  .home-container40 {
    width: 100%;
    flex-wrap: wrap;
    align-self: center;
    align-items: flex-end;
    margin-right: 0px;
    padding-right: 5px;
    justify-content: space-between;
  }
  .home-form {
    width: 472px;
    height: 359px;
    align-items: center;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .home-textinput2 {
    align-self: center;
  }
  .home-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .home-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-container42 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-text51 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
