.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page-lottie-node {
  width: 1006px;
  height: 476px;
}
.page-container1 {
  width: auto;
  height: 130px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.page-text {
  width: 864px;
  font-size: 3rem;
  max-width: auto;
  text-align: center;
  font-family: "Jost";
}
.page-container2 {
  width: auto;
  height: 130px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.page-navlink {
  font-size: 24px;
  transition: 0.3s;
  font-family: "Jost";
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: transparent;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-primary-300);
}
.page-navlink:hover {
  border-color: var(--dl-color-gray-black);
  background-color: var(--dl-color-primary-100);
}
@media(max-width: 991px) {
  .page-text {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .page-lottie-node {
    width: 479px;
  }
  .page-text {
    width: 479px;
    height: 53px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .page-container2 {
    justify-content: flex-end;
  }
  .page-navlink {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
}
